<!-- Banner -->
<section id="banner">
  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">

    <header>
      <h2>Sree Guru Astrology</h2>
    </header>
    <h3>Astrological Solution to a Better Life.</h3>
    <p>Since <strong>2008</strong>
    <footer>
      <ul class="buttons vertical">
        <li><a href="/about/#about" class="button fit scrolly">Tell Me More</a></li>
      </ul>
    </footer>

  </div>

</section>
