<section class="wrapper style4 container sign-today">
  <div class="row">
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/mesha.jpg">
        <p>Mesha</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/vrishabha.jpg">
        <p>Vrishabha</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/mithuna.jpg">
        <p>Mithuna</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/karkata.jpg">
        <p>Karkata</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/simha.jpg">
        <p>Simha</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/kanya.jpg">
        <p>Kanya</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/thula.jpg">
        <p>Thula</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/vrischika.jpg">
        <p>Vrischika</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/dhanu.jpg">
        <p>Dhanu</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/makara.jpg">
        <p>Makara</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/kumbha.jpg">
        <p>Kumbha</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="/img/moon_signs/meena.jpg">
        <p>Meena</p>
      </a>
    </div>
  </div>
</section>

