<section class="wrapper style4 container sign-today">
  <div class="row">
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/aries.jpg">
        <p>Aries</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/taurus.jpg">
        <p>Taurus</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/gemini.jpg">
        <p>Gemini</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/cancer.jpg">
        <p>Cancer</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/leo.jpg">
        <p>Leo</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/virgo.jpg">
        <p>Virgo</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/libra.jpg">
        <p>Libra</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/scorpio.jpg">
        <p>Scorpio</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/sagittarius.jpg">
        <p>Sagittarius</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/capricorn.jpg">
        <p>Capricorn</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/aquarius.jpg">
        <p>Aquarius</p>
      </a>
    </div>
    <div class="2u">
      <a href="#">
        <img src="{{ site.baseurl }}/img/sun_signs/pisces.jpg">
        <p>Pisces</p>
      </a>
    </div>
  </div>
</section>

