<header>

  <div class="heading">
    <div class="row">
      <div class="col-sm-2">
        <a class="site-title" href="{{ site.baseurl }}/">
          <img src="{{ "/img/ganapathy.png" | prepend: site.baseurl }}" class="img-responsive" alt="Ganapathy">
        </a>
      </div>
      <div class="col-sm-8">
        <h1>
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>

    <div class="video-container">
      <video class="video-playing" loop="loop" preload="auto">
        <source src="{{ "/video/bokeh2.ogg" | prepend: site.baseurl }}" type="video/ogg">
        <source src="{{ "/video/bokeh2.webm" | prepend: site.baseurl }}" type="video/webm">
      </video>
    </div>
  </div>

</header>
