<!-- jQuery -->
<script src="{{ "/js/vendor/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.dropotron.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.scrollgress.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/skel-layers.min.js" | prepend: site.baseurl }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Include the main.js after all dependencies -->
<script src="{{ "/js/initlayout.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
