<section class="wrapper style4 container signs moon">
  <div class="row 150%">
    <div class="8u 12u(narrower)">
      <div class="content">
        <section>
          <header>
            <h2>What is a Moon Sign?</h2>
          </header>
          <p>Moon Sign is purely based on one's birth star. It is an Indian system. Below are the signs.</p>
          <ol>
            <li><strong>Mesha</strong> - Aswini, Bharani, 1/4 Krithika</li>
            <li><strong>Vrishabha</strong> - 3/4 Krithika, Rohini, 1/2 Mrigasira</li>
            <li><strong>Mithuna</strong> - 1/2 Mrigasira, Ardra, 3/4 Punarvasu</li>
            <li><strong>Karkata</strong> - 1/4 Punarvasu, Pushya, Aslesha</li>
            <li><strong>Simha</strong> - Magha, Poorvaphalguni, 1/4 Utharaphaguni</li>
            <li><strong>Kanya</strong> - 3/4 Utharaphaguni, Hastha, 1/2 Chithra</li>
            <li><strong>Thula</strong> - 1/2 Chithra, Swathi, 3/4 Visakha</li>
            <li><strong>Vrischika</strong> - 1/4 Visakha, Anuradha, Jyeshta</li>
            <li><strong>Dhanu</strong> - Moola, Poorvashadha, 1/4 Uttarashada</li>
            <li><strong>Makara</strong> - 3/4 Uttarashada, Sravana, 1/2 Dhanishta</li>
            <li><strong>Kumbha</strong> - 1/2 Dhanishta, Sathabhishak, 3/4 Poorvabhadrapada</li>
            <li><strong>Meena</strong> - 1/4 Poorvabhadra, Utharabhadra, Revathi</li>
          <ol>
        </section>
    </div>
  </div>
</section>
