<!-- Header -->
<header id="header" class="alt">
  <h1 id="logo">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="/">Welcome</a></li>
      {% for page in site.pages %}
        {% for tag in page.tags %}
          {% if tag == 'menu' && page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
</header>
