<section class="wrapper style4 container signs moon">
  <div class="row 150%">
    <div class="8u 12u(narrower)">
      <div class="content">
        <section>
          <header>
            <h2>What is a Sun Sign?</h2>
          </header>
          <p>Sun Sign is purely based on one's date of birth only. It is a Western System. Below are the signs.</p>
          <ol>
            <li><strong>Aries</strong> - (March 21 - April 20)</li>
            <li><strong>Taurus</strong> - (April 21 - May 20)</li>
            <li><strong>Gemini</strong> - (May 21 - June 21)</li>
            <li><strong>Cancer</strong> - (June 22 - July 22)</li>
            <li><strong>Leo</strong> - (July 23 - August 23)</li>
            <li><strong>Virgo</strong> - (August 24 - September 22)</li>
            <li><strong>Libra</strong> - (September 23 - October 22)</li>
            <li><strong>Scorpio</strong> - (October 23 - November 22)</li>
            <li><strong>Sagittarius</strong> - (November 23 - December 21)</li>
            <li><strong>Capricorn</strong> - (December 22 - January 20)</li>
            <li><strong>Aquarius</strong> - (January 21 - February 19)</li>
            <li><strong>Pisces</strong> - (February 20 - March 20)</li>
          <ol>
        </section>
    </div>
  </div>
</section>
