<!-- This is currently set up to work with the development instance -->
<!-- userreport.com -->
<script type="text/javascript">
var _urq = _urq || [];
_urq.push(['initSite', 'cda9362b-26da-434e-880f-c42018e50a66']);
(function() {
var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
})();
</script>
