.nav-contact {
  .icon {
    color: #27ae60;
    margin-left: 20px;
  }

  .navbar-nav > li > a {
    padding: 0;
  }
}

.heading {
  position: relative;
  margin-bottom: 0;
  background-color: transparent;
  padding: 70px 0 20px;
  overflow: hidden;

  .video-container {
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;

    .video-playing {
      width: 100%;
      min-width: 700px; // for reduced resolutions
    }
  }

  @include media-query(768px) {
    padding-top: 120px;
  }
}

.nav-main {
  border-radius: 0;
}

footer {
  padding: 10px;
}

// User reports
#crowd-shortcut {
  @include media-query(992px) {
    // The popup is broken for smaller displays
    // therefore hide it
    display: none !important;
  }
}
